body {
    background-image: url(img/background.jpg);
}
.head {
    text-align: center;
    color: red;
    font-size: 50px;
}

.text {
    text-align: center;
    font-size: 1.5rem;
}

#container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}